[Unit]
Description=Monitors Garage Door
# For instructions on setting this up in a new system see below comments
# sudo cp garage.service /etc/systemd/system/garage.service
# sudo systemctl daemon-reload
# sudo systemctl enable garage.service
# sudo systemctl start garage.service
# To see logs: sudo journalctl --unit=garage
# the watchdog is setup at /etc/systemd/system.conf
# https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/home/garage/garagePi/garage.py
#ExecStart=/home/garage/garagePi/go
WatchdogSec=120
NotifyAccess=all
Restart=always


[Install]
WantedBy=multi-user.target
